services:
  streamlit:
    image: ghcr.io/${GITHUB_REPOSITORY}:latest
    restart: unless-stopped
    ports:
      - "8501:8501"
    environment:
      - STREAMLIT_SERVER_PORT=8501
      - STREAMLIT_SERVER_ADDRESS=0.0.0.0
